.main__about {
  margin-top: 0px;
  padding-bottom: 20px;
  background-color: rgb(255, 246, 196);
  h2{
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: $black;
    border-bottom: 2px solid $gold;
  }
  
}

@media screen and (min-width: 320px) {
  .main__about {
    h2{
      width: 80%;
      font-size: 1.1rem;
    }
    p{
      margin: 0 auto;
      margin-top: 10px;
      width: 90vw;
      font-size: .9rem;
    }
  }
}

@media screen and (min-width: 425px) {
  .main__about p {
    font-size: 1rem;
    width: 85%;
  }
}

@media screen and (min-width: 768px) {
  .main__about {
    .about-wrapper {
      margin: 0 auto;
      margin-bottom: 20px;
      width: 90%;
    }
    h2 {
      padding: 20px;
      padding-top: 30px;
      font-size: 1.7rem;
    }
    p {
      text-align: left;
      font-size: 1.2rem;
    }
  }
}
