.main__contacts {
  margin-top: 0;
  padding-bottom: 20px;
  color: white;
  background-color: $black;
  h2{
    margin: 25px auto;
    padding-bottom: 15px;
    width: 80%;
    text-align: center;
    color: $gold-lite;
    border-bottom: 2px solid $gold;
  }    
}
  
@media screen and (min-width: 320px) {
  .main__contacts {
    h2{
      font-size: 1.1rem;
    }
    span,
    p {
      margin: 0 auto;
      padding-left: 10px;
      display: block;
      width: 90vw;
      font-size: .9rem;
    }
    .contacts__list {
      width: 80vw;
      font-size: .9rem;
      li {
        margin: 10px 0;
      }
      li a {
        color: $gold;
      }
    }

    .contacts__inform-wrapper {
      margin-top: 30px;
      span {
        width: 70%;
        margin: 20px 10px 10px 0;
        padding: 5px 10px;
        color: $gold-lite;
        border-bottom: 2px solid $gold;
      }
    }
  }
}
  
@media screen and (min-width: 425px) {
  .main__contacts {
    h2{
      font-size: 1.2rem;
    }
    span {
      font-size: 1rem;
      width: 85vw;
    }
  }
}
  
@media screen and (min-width: 768px) {
  .main__contacts {
    h2 {
      font-size: 1.5rem;
    }
    span {
      font-size: 1.2rem;
    }

    .contacts__list {
      position: relative;
      margin: 20px auto 50px;
      width: 90%;
      font-size: 1.2rem;
      list-style: none;
      li::before {
        content: '';
        display: block;
        position: absolute;
        left: 0%;
        width: 30px;
        height: 30px;
      }
      .list__item-form::before {
        top: -5%;
        background-image: url('../icons/list-icons/list-form.svg');
      }
      .list__item-instagram::before {
        top: 18%;
        background-image: url('../icons/list-icons/list-instagram.svg');
      }
      .list__item-facebook::before {
        top: 40%;
        background-image: url('../icons/list-icons/list-facebook.svg');
      }
      .list__item-email::before {
        top: 63%;
        background-image: url('../icons/list-icons/list-mail.svg');
      }
      .list__item-phone::before {
        top: 82%;
        background-image: url('../icons/list-icons/list-phone.svg');
      }
    }

    .contacts__inform-wrapper {
      span {
        width: 30%;
        display: block;
        background-color: $black;
      }
      p {
        font-size: 1.1rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .main__contacts {
    h2 {
      font-size: 1.7rem;
    }
  }
}
