.features {
  padding: 25px 20px;
  box-sizing: border-box;
  background-color: rgb(255, 246, 196);
  h2 {
    margin: 0 auto;
    padding-bottom: 15px;
    width: 80%;
    border-bottom: 2px solid $gold;
  }
  .features__item span {
    font-family: 'NunitoSemiBold';
  }
}

@media screen and (min-width: 320px){
  .features h2 {
    width: 80%;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
  }

  .features .features__item {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    .item__image {
      width: 70px;
      margin: 20px 0;
    }
  }
}


@media screen and (min-width: 760px){
  .features {
    width: 100%;
    margin: 0;
    .features-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
  }
  .features h2 {
    text-align: center;
    width: 80%;
    font-size: 2rem;
  }
  .features .features__item {
    width: 30%;
    span {
      text-align: center;
      font-size: 1.2rem;
    }
    p {
      font-size: 1rem;
    }
    .item__image {
      width: 70px;
      margin: 20px 0;
    }
  }
}

@media screen and (min-width: 1024px){
  .features .features-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  

  .features h2 {
    text-align: center;
    width: 80%;
    font-size: 1.7rem;
  }

  .features .features__item {
    span {
      font-size: 1.3rem;
    }
    p {
      font-size: 1.2rem;
    }
    .item__image {
      width: 110px;
      margin: 20px 0;
    }
  }
}