.header {
  display: flex;
  flex-direction: column;
}

.header__inner-container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main__title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px 0 15px 15px;
  h1 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
    font-family: 'NunitoBold';
  }
  .main__logo {
    position: absolute;
  }
}


// MENU BUTTON
.menu-btn {
  position: absolute;
  top: 0px;
  left: 250px;
  width: 55px;
  height: 55px;
  background-color: $black;
  border: none;
  outline: none;
  &::before{
    display: block;
    content: '';
    position: relative;
    height: 33px;
    width: 2px;
    top: -5px;
    left: 20px;
    transform: rotate(90deg);
    background-color: $gold;
    box-shadow: 9px 0px 0px $gold;
    transition: transform ease-in-out .4s;
  }
  &::after{
    display: block;
    content: '';
    position: relative;
    height: 33px;
    width: 2px;
    bottom: 20px;
    left: 20px;
    transform: rotate(90deg);
    background-color: $gold;
    transition: transform ease-in-out .4s;
  }
}

// MENU - WRAPPER ACTIVE 
.header__menu-wrapper.wrapper--active {
  left: -1px;
  .menu-btn {
    top: 0;
    left: 249px;
    &::before{
      top: 10px;
      left: 22px;
      transform: rotate(45deg);
      box-shadow: none;
    }
    &::after{
      bottom: 23px;
      left: 23px;
      transform: rotate(-45deg);
      background-color: $gold;
    }
  }
}

// MENU 
.header__menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  li {
    cursor: pointer;
  }
}

@media screen and (min-width: 320px) {
  .header__inner-container{
    flex-direction: row-reverse;
    position: relative;
    background-color: $black;
  }

  .main__title {
    width: 250px;
    margin: 0;
    padding-right: 15px;
    text-align: right;
    h1 {
      color: $gold;
      text-align: right;
      font-size: 1.2rem;
    }
    .main__logo {
      display: none;
    }
    span {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      color: white;
      font-family: 'NunitoLight';
    }
  }
  
  .header__menu-wrapper {
    position: absolute;
    z-index: 100;
    left: -251px;
    top: 0;
    width: 250px;
    background-color: $black;
    transition: all ease-in-out .4s;
  }

  .header__menu {
    flex-direction: column;
  }

  .header__menu li {
    position: relative;
    border-left: none;
    border-bottom: 1px solid $gold;
    .icon {
      position: absolute;
      top: 12%;
      left: 75%;
      width: 40px;
    }
  }

  .header__menu li a {
    display: block;
    padding: 10px;
    font-family: 'NunitoBold';
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(207, 207, 207);
  }

  .header__menu li:hover {
    background: $gold;
    transition: ease .4s;
    a {
      color: $black;
    }
  }

  .media__inner-container {
    position: absolute;
    width: 100%;
    top: 60%;
    right: 67%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    a {
      margin-right: 15px;
      display: block;
      img {
        width: 35px;
      }
    }
  }
}

@media screen and (min-width: 425px) {
  .main__title {
    position: relative;
    width: 300px;
    padding-bottom: 60px;
    h1 {
      color: white;
      font-size: 1.7rem;
    }
    .main__logo {
      width: 35px;
      display: block;
      top: 10px;
      left: 37%;
    }
    span {
      font-size: 1.1rem;
      color: rgb(255, 246, 196);
    }
  }

  .media__inner-container {
    top: 75%;
    left: 0%;
  }
}

@media screen and (min-width: 768px) {
  .header__menu-wrapper {
    left: -301px;
    width: 300px;
    background-color: $black;
  }

  .header__menu li {
    border-left: none;
    a {
      font-size: 1.4rem;
    }
  }

  .menu-btn {
    left: 300px;
  }

  .header__menu-wrapper.wrapper--active {
    .menu-btn {
      left: 300px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header__inner-container{
    flex-direction: column;
    align-items: flex-start;
  }

  .main__title {
    width: 100%;
    padding-bottom: 20px;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    text-align: left;
    h1 {
      padding-top: 15px;
      padding-left: 70px;
      text-align: left;
      font-size: 1.6rem;
    }
    .main__logo {
      width: 40px;
      top: 25%;
      left: 3%;
    }
    span {
      font-size: 1.1rem;
      display: flex;
      flex-direction: column;
      margin-top: 5px;
    }
  }

  .header__media {
    position: relative;
  }

  .media__inner-container {
    top: 135%;
    right: 0%;
    a img {
        width: 40px;
      }
  }
  
  .header__menu-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    padding-left: 30px;
    margin-bottom: 20px;
    .menu-btn {
      display: none;
    }
    .icon {
      display: none;
    }
  }

  .header__menu {
    flex-direction: row;
    li {
      border: none;
      &:not(:last-child) {
        border-right: 1px solid $gold-lite;
      }
      a {
        font-family: 'NunitoLight';
        font-size: 1.2rem;
        color: $gold-lite;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .main__title {
    .main__logo {
      width: 60px;
      height: auto;
      top: 20%;
      left: 1%;
    }
  }
}