@import 'header.scss';

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'PTSans';
}

.container {
  width: 1300px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
